@import 'globals.css';
@import 'animations.css';
@import 'components/navbar.css';
@import 'components/hero.css';
@import 'components/stats.css';
@import 'components/who-i-am.css';
@import 'components/projects.css';
@import 'components/technologies.css';
@import 'components/contact.css';
@import 'components/footer.css';